{% set layout = app.request.attributes.get('_easy_page_layout') -%}
{% extends layout.resource %}

{% block stylesheets %}
    {{ parent() }}
    {% for asset_css in layout.assets_css %}
        <link rel="stylesheet" href="{{ asset(asset_css) }}">
    {% endfor %}
    {% for asset_webpack in layout.assets_webpack %}
        {{ encore_entry_link_tags('asset_webpack') }}
    {% endfor %}
{% endblock %}

{% block easy_page_head_metas %}
{{- seo_metas(page.seo) -}}
{% endblock %}

{% block title %}{{- seo_title(page.name) -}}{% endblock %}
{% block header_title %}Welcome to Easy Faq !{% endblock %}

{% block easy_page_breadcrumbs %}
    {{ seo_breadcrumb() }}
{% endblock %}

{% block easy_page_page_content %}
    <section>
        <article>
            <h1>{{ page.name }}</h1>
            <div class="row">
                <div class="col-4">
                    {% include "@EasyFaq/front/categories_menu.html.twig" %}
                </div>
                <div class="col-8">
                    <div class="accordion" id="accordionExample">
                        {% for entry in entries %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        {{ entry.question }}
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {{ entry.answer | raw }}
                                        <a href="{{ path('easy_faq_entry_index', {"category" : entry.mainCategory().slug, "entry" : entry.slug}) }}" class="btn btn-primary">{{ "easy.faq.front.readmore" | trans }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% for asset_js in layout.assets_js %}
        <script type="text/javascript" src="{{ asset(asset_js) }}"></script>
    {% endfor %}
    {% for asset_webpack in layout.assets_webpack %}
        {{ encore_entry_script_tags('asset_webpack') }}
    {% endfor %}
{% endblock %}
